# Python artifacts
__pycache__/
*.py[cod]
.Python
build/
dist/
*.egg-info/

# Virtual environments
.venv/

# Secrets
.env
.env.local

# Linting / cache
.ruff_cache/
.mypy_cache/
.pytest_cache/

# IDE & Notes
.vscode/
.idea/
.DS_Store
.obsidian/workspace*.json

